In [1]:
import pandas as pd

In [2]:
df_police = pd.read_csv(r"C:\Users\hsvie\Desktop\Python_Projects_Practice\Project_3_Police\data\Police.csv")

In [10]:
df_police.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

stop_date: Ngày diễn ra cuộc dừng xe.

stop_time: Thời gian diễn ra cuộc dừng xe trong ngày.

driver_gender: Giới tính của tài xế liên quan đến cuộc dừng xe.

driver_age_raw: Tuổi thô, chưa qua xử lý của tài xế được ghi nhận (nam sinh)

driver_age: Tuổi đã qua xử lý hoặc tiêu chuẩn hóa của tài xế.

driver_race: Chủng tộc hoặc dân tộc của tài xế.

violation_raw: Lý do cụ thể hoặc vi phạm nguyên nhân dừng xe dưới dạng thô.

violation: Lý do hoặc vi phạm đã được tiêu chuẩn hóa hoặc phân loại.

search_conducted: Cho biết liệu có cuộc tìm kiếm nào được thực hiện trong quá trình dừng xe hay không (True hoặc False).

search_type: Loại hoặc lý do cho cuộc tìm kiếm (nếu có).

stop_outcome: Kết quả của cuộc dừng xe (ví dụ: cảnh cáo, phạt, bắt giữ).

is_arrested: Cho biết liệu tài xế có bị bắt giữ hay không (True hoặc False).

stop_duration: Thời gian diễn ra cuộc dừng xe.

drugs_related_stop: Cho biết liệu cuộc dừng xe có liên quan đến ma túy hay không (True hoặc False).

In [4]:
df_police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       61474 non-null  object
 4   driver_age_raw      61481 non-null  float64
 5   driver_age          61228 non-null  float64
 6   driver_race         61475 non-null  object
 7   violation_raw       61475 non-null  object
 8   violation           61475 non-null  object
 9   search_conducted    65535 non-null  bool
 10  search_type         2479 non-null   object
 11  stop_outcome        61475 non-null  object
 12  is_arrested         61475 non-null  object
 13  stop_duration       61475 non-null  object
 14  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB

In [8]:
df_police.isnull().sum()

stop_date                 0
stop_time                 0
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

# Q. 1) Instruction ( For Data Cleaning ) - Remove the column that only contains missing values.

In [6]:
df_police.drop(columns= ['country_name'],inplace=True)

In [7]:
df_police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   driver_gender       61474 non-null  object
 3   driver_age_raw      61481 non-null  float64
 4   driver_age          61228 non-null  float64
 5   driver_race         61475 non-null  object
 6   violation_raw       61475 non-null  object
 7   violation           61475 non-null  object
 8   search_conducted    65535 non-null  bool
 9   search_type         2479 non-null   object
 10  stop_outcome        61475 non-null  object
 11  is_arrested         61475 non-null  object
 12  stop_duration       61475 non-null  object
 13  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 6.1+ MB

# Q. 2) Question ( Based on Filtering + Value Counts ) - For Speeding , were Men or Women stopped more often ?

In [9]:
df_police.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [11]:
df_police['violation'].value_counts()

violation
Speeding               37204
Moving violation       11926
Equipment               6516
Other                   3583
Registration/plates     2243
Seat belt                  3
Name: count, dtype: int64

In [13]:
df_speeding = df_police[(df_police['violation'] == "Speeding")]

In [14]:
df_speeding['driver_gender'].value_counts()

driver_gender
M    25517
F    11686
Name: count, dtype: int64

# Q. 3) Question ( Groupby ) - Does gender affect who gets searched during a stop ?

In [15]:
df_police.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [20]:
df_police.groupby('driver_gender')[['search_conducted']].value_counts(ascending=False)

driver_gender  search_conducted
F              False               15944
               True                  366
M              False               43051
               True                 2113
Name: count, dtype: int64

giới tính có ảnh hưởng đôi chút

# Q. 4) Question ( mapping + data-type casting ) - What is the mean stop_duration ?

In [31]:
df_police['stop_duration'].value_counts()

stop_duration
0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: count, dtype: int64

In [32]:
# cách 1:
#  df_police['stop_duration'] = df_police['stop_duration'].apply(lambda x : str(x).split("-")[1].split()[0])

In [35]:
# cách 2:
df_police['stop_duration']= df_police['stop_duration'].map({'0-15 Min':7.5,'16-30 Min':24,'30+ Min':45})

In [36]:
df_police.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,24.0,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False

In [38]:
print(df_police['stop_duration'].mean())

12.187420698181345

# Q. 5) Question ( Groupby , Describe ) - Compare the age distributions for each violation.

In [42]:
df_police.groupby('violation')['driver_age'].describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0

In [41]:
df_police.violation.value_counts()

violation
Speeding               37204
Moving violation       11926
Equipment               6516
Other                   3583
Registration/plates     2243
Seat belt                  3
Name: count, dtype: int64